header
  input#toggle(data-function="toggle-offcanvas", type="checkbox")
  label.entypo-menu(data-function="toggle-offcanvas", for="toggle")
  div.offcanvas
    h2 BART Locations
    include search.pug
    nav
      include list.pug
