header
  input#toggle(data-function="toggle-offcanvas", type="checkbox")
  label.entypo-menu(data-function="toggle-offcanvas", for="toggle")
  div.offcanvas
    h2 Locations
    input#search(type="text", placeholder="BART San Francisco", data-bind="textInput: search")
    nav
      ul#locations(data-bind="foreach: filtered")
        li(data-bind="text: name")

