header
  input#toggle(data-function="toggle-offcanvas", type="checkbox")
  label.entypo-menu(data-function="toggle-offcanvas", for="toggle")
  div.offcanvas
    h2 Locations
    input#filter(type="text", placeholder="BART San Francisco", data-bind="textInput: search")
    nav
      ul.list(data-bind="foreach: filtered")
        li(data-bind="text: name")

